.App {
  margin: 2% 5% 0;
}

.inputField {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 18px;
}
.basic-multi-select {
  z-index: 100;
}

.inputField label {
  text-align: left;
  width: 35%;
}
.inputField .field {
  width: 65%;
}
/* To hide arrows in iput type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.additional {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputField .field.multipleInput {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.button {
    color: blue;
    font-size: 14px;
    border: 0.5px solid #c4c4c4;
    height: 56px;
    margin-bottom: auto;
}
input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}
.buttonContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.buttonContainer button {
  margin: 0 20px;
  width: 20%;
}
.multipleInputDiv {
  width: 80%;
}
.multipleInputDiv > div > div {
  width: 100%;
}

.additional button {
  margin-top: -12px;
  height: 56px;
  width: 5%;
  font-size: 40px;
  border: 1px solid #c4c4c4;
}
